# https://create-react-app.dev/docs/adding-custom-environment-variables/

secret=please_please_update_me_please
algorithm=HS256
build_path="./build"
BUILD_PATH='./build/frontend'

REACT_APP_API_URL='http://192.1.1.13:8050'