*.css
*.css.map

pixi.lock
.pixi/
.local/
.env

*.pyc
*.egg-info
*.egg

__pycache__/

build/
docs/_build/
docs/auto_examples/
docs/sg_execution_times.rst
docs/_autosummary/
docs/generated/
docs/frontend-docs/

node_modules/
package-lock.json
dist/

snapcheck-front/src/lepton/api-clientsrc/api/generated/
