
.topbar
    display: flex
    padding: 0em
    background-color: #1f1f1f
    width: 100%


    div
        display: flex
        align-items: center
        font-size: 0.8rem

    .snap-selector-container
        grow: 1
        
    .topbar-buttons
        margin-left: auto
        display: flex
        align-items: center