body
  margin: 0 auto
  background-color: #000000

  color: #f0f0f0
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif

ul
  margin: 0
  padding: 0

.default-text
  color: #868686
  font-size: 1rem
  font-weight: 400
  font-style: italic

.error-text
  @extend .default-text
  color: #bd2e2e

.vertical-center
  display: flex
  justify-content: center
  align-items: center
  height: 100%


.grow
  flex-grow: 1
  