.app
  max-height: 100vh
  overflow: hidden
  user-select: none

.page-container
  display: flex
  flex-direction: row

.sidebar-container
  width: 350px
  height: 100vh
  overflow: hidden

.main-container
  overflow: auto
  width: 95%
  height: 100vh

.board-container
  margin-left: 4px
  width: 95%
  height: 100vh

// .topbar
//   margin-left: 5px

.modal-container
  padding: 0
  margin: 0
